body{
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left: 2vw;
    margin-right: 2vw;
    overflow-x: hidden;
}

img{
    width: 200px;
    margin-bottom: 10px;
}

#custombutton{
    text-align: center;
}
.labelcustom, #txtefftax{
    font-weight: bold;
}

#zivilstand{
    display: flex;
    justify-content: space-around;
}